<div class="row mt-4">
  <div class="col-md-6">


      <p></p>
      <div>
        <h2>Welcome, {{name}}!</h2>
      
      <h3>Make a selection:</h3>
    </div>

  <div class="container">
      <div class="calendar">
        <div class="month">
          <i class="fas fa-angle-left prev"></i>
          <div class="date">
            <h1></h1>
            <p></p>
          </div>
          <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
          <div>Sun</div>
          <div>Mon</div>
          <div>Tue</div>
          <div>Wed</div>
          <div>Thu</div>
          <div>Fri</div>
          <div>Sat</div>
        </div>
        <div class="days"></div>
      </div>
    </div>


          <form class="form new-project-form">
            <div class="form-group">
              <label for="project-name">Your Name:</label>
              <input class="form-input" type="text" id="project-name" name="project-name" />
            </div>
            <div class="form-group">
              <label for="project-funding">Rate:</label>
              <input class="form-input" type="number" id="project-funding" name="project-funding" />
            </div>
            <div class="form-group">
              <label for="project-desc">Additional: </label>
              <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Create</button>
            </div>
          </form>
        </div>

        {{#if projects.length}}
        <div class="col-md-6 project-list">
          <h3>Current Projects:</h3>

          {{#each projects as |project|}}
          <div class="row mb-2">
            <div class="col-md-8">
              <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
            </div>
            <div class="col-md-4">
              <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
            </div>
          </div>
          {{/each}}
        </div>
        {{/if}}
      </div>

      <script src="./js/profile.js"></script>
      <script src="./js/script.js"></script>